
<html>
    <body>
    <div class="about_section layout_padding">
        <div class="container">
            <div class="about_section_main">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about_taital_main">
                            <h1 class="about_taital">BİZ KİMİZ?</h1>
                            <p>
                                Hoş Geldiniz! Erzurum Teknik Üniversitesi E-Ticaret Platformu'na!

                                Erzurum Teknik Üniversitesi'ne özgü ürünlerin yer aldığı bu platformda, ETÜ ruhunu taşıyan benzersiz ürünleri keşfetmek için doğru adrestesiniz. Hem mezunlara hem de öğrencilere hitap eden çeşitli kategorilerdeki ürünlerimiz, ETÜ sevgisini gönülden paylaşan herkesin beğenisini kazanmayı hedefliyor.
                            </p>
                            <div class="readmore_bt"><a href="/Kurumsal/Kurumsal/">Daha Fazla</a></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div><img src="~/images/hakkinda.jpg" class="image_3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>

