
    <div class="product_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="product_taital">Ürünlerimiz</h1>
                </div>
            </div>
            <div class="product_section_2 layout_padding">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="product_box">
                        <img src="~/images/Urunler/ESOFMAN/bej1.png" class="image_1">
                        <h1 class="bursh_text">Eşofman Takımı</h1>
                            <h3 class="price_text">120₺</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                    <div class="product_box">
                        <img src="~/images/Urunler/POLO YAKA/SİYAH ÖN.png" class="image_1">
                        <h1 class="bursh_text">Polo Yaka T-Shirt</h1>
                        <h3 class="price_text">120₺</h3>
                    </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                    <div class="product_box">
                        <img src="~/images/Urunler/COCUKLARA/pelus-ayicik-canta-06-408.png" class="image_1">
                        <h1 class="bursh_text">Peluş Ayıcık Çanta</h1>
                        <h3 class="price_text">60₺</h3>
                    </div>
                    </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="product_box">
                        <img src="~/images/Urunler//ÇANTA/BejCanta.png" class="image_1">
                        <h1 class="bursh_text">Bej Çanta</h1>
                        <h3 class="price_text">80₺</h3>
                    </div>
                </div>
                </div>
                <div class="seemore_bt"><a href="/Urunler/Urunler/">Daha Fazla</a></div>
            </div>
        </div>
    </div>


