
    <div class="customer_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="customer_taital">TASARIMCILAR</h1>
                </div>
            </div>
            <div id="main_slider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="client_section_2">
                            <div class="client_main">
                                <div class="client_left">
                                    <div class="client_img"><img src="~/images/duygu.png"></div>
                                </div>
                                <div class="client_right">
                                    <h3 class="name_text">Duygu Çalık</h3>
                                <p class="dolor_text">17/09/1998 tarihinde Trabzon’da doğdum. Erzurum Teknik Üniversitesi Bilgisayar mühendisliği öğrencisiyim. Yaz mevsimini, yüzmeyi ve kahve içmeyi severim.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="client_section_2">
                            <div class="client_main">
                                <div class="client_left">
                                    <div class="client_img"><img src="~/images/esin.png"></div>
                                </div>
                                <div class="client_right">
                                    <h3 class="name_text">Esin Tuğba Durur</h3>
                                <p class="dolor_text">06/09/1999 tarihinde Van'da doğdum. Erzurum Teknik Üniversitesi Bilgisayar mühendisliği öğrencisiyim. Yürüyüş yapmayı, kitap okumayı ve kahve içmeyi severim.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="client_section_2">
                            <div class="client_main">
                                <div class="client_left">
                                    <div class="client_img"><img src="~/images/client-img.png"></div>
                                </div>
                                <div class="client_right">
                                    <h3 class="name_text">Ahmet Servet Tüylüoğlu</h3>
                                    <p class="dolor_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation  eu </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
